
.css-15m0r3w{
    width: 100%;
}
.css-k008qs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.btnDrop{
    background-color: white;
    border: none;
    outline: none;
    box-sizing: 0px!important;
}

.btnDrop:hover{
    background-color: white;
    border: none;
    outline: none;
    box-sizing: 0px!important;
}
.css-rzl9ot {
                            padding: 0 27px;
                            line-height: 58px;
                            text-transform: uppercase;
                            color: white;
                            cursor: pointer;
                            position: relative;
                            background-color: deeppink;
                            text-decoration: none;
                        }
                        .css-rzl9ot:hover {
                            color: white;
                            text-decoration: none;
                            background-color: #1dd38f;
                        }
       .css-1hd5vrj {
            padding: 0 27px;
            line-height: 58px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            background-color: deeppink;
        }
        .css-1hd5vrj:hover {
            color: white;
            text-decoration: none;
            background-color: #1dd38f;
        }
      .css-1dxuhhx {
        padding: 0 27px;
        line-height: 58px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.7);
        cursor: pointer;
        position: relative;
    }


    @media (min-width: 1100px) {
        .css-1dxuhhx::before {
            font-size:8.5px;
        }
    }
  .css-fvnb3i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    color: #000;
    /* border: 1px solid rgb(255,255,255); */
    background-color: #fff;
}
.css-1u2a8ed {
    display: inline-block;
    position: relative;
    width: 158px;
    padding-left: 15px;
    line-height: 50px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.css-1u2a8ed .content-container {
    overflow: auto;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    z-index: 1;
}



@media (min-width: 1100px) {
    .css-1u2a8ed .input-container::after {
        font-size:12.5px;
    }
}

.css-1u2a8ed .search-bar {
    padding: 17px 35px 17px 0;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.css-1u2a8ed .search-bar::-webkit-input-placeholder {
    color: #000;
}

.css-1u2a8ed .search-bar::-moz-placeholder {
    color: #000;
}

.css-1u2a8ed .search-bar:-ms-input-placeholder {
    color: #000;
}

.css-1u2a8ed .search-bar::placeholder {
    color: #000;
}

.css-1u2a8ed .search-bar:focus::-webkit-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-1u2a8ed .search-bar:focus::-moz-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-1u2a8ed .search-bar:focus:-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-1u2a8ed .search-bar:focus::placeholder {
    color: rgba(0,0,0,0.3);
}
.css-80eldr {
    width: 100%;
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.css-80eldr::-webkit-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-80eldr::-moz-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-80eldr:-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.css-80eldr::placeholder {
    color: rgba(0,0,0,0.3);
}

@media (min-width: 1100px) {
    .css-80eldr {
        font-size:14.5px;
    }
}
.css-18ytggf {
    position: relative;
    z-index: 2;
    width: 100%;
    /* height: 50px; */
    width: calc(100% - 158px);
    border-left: 1px solid #e6e6e6;
}
.css-1eqt4wh {
    width: 100%;
    height: 100%;
    outline: none!important;
    border: none;
    font-size: 14px;
    line-height: 12px;

}

@media (min-width: 1100px) {
    .css-1eqt4wh {
        font-size:14.5px;
    }
}
.css-84bdd7 {
    padding: 0 14px;
    /* border: 1px solid #1dd38f; */
    border: 1px solid deeppink;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    /* background-color: #1dd38f; */
    background-color: deeppink;
    border-radius: 2px;
    cursor: pointer;
    width: 150px;
    border-radius: 0;
    outline: none!important;
}

@media (min-width: 1100px) {
    .css-84bdd7 {
        font-size:14.5px;
    }
}

.css-84bdd7:disabled {
    pointer-events: none;
    background-color: #cdcdcd;
    border: 1px solid #999;
    color: #999;
}

@media screen and (max-width:760px){
    .css-rzl9ot {
        padding: 0 12px!important;
        line-height: 40px!important;
        font-size: 12px!important;
    }
    .css-1hd5vrj {
        padding: 0 12px!important;
        line-height: 40px!important;
       font-size: 12px!important;
    }
    .css-1u2a8ed {
     
        width: 120px;
        padding-left: 0px;
        line-height: 50px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .btnDrop{
        font-size: 12px;
    }
    .css-84bdd7 {
        padding: 0 0px;
        font-size: 12px;
        width: 75px;
     
    }
    .css-1eqt4wh {
        font-size: 12px; 
    }
}